/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#navbar {
    background-color: #333;
    color: rgb(207, 76, 135);
    padding: 15px 0;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navbar li {
    margin: 0 15px;
}

#navbar a {
    color: rgb(158, 220, 164);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

#navbar a:hover {
    color: #f39c12;
}

main {
    padding-top: 70px; /* Ensure content doesn't get hidden behind the fixed navbar */
}

section {
    padding: 100px 20px;
    min-height: 100vh;
    background-color: #db1111;
    border-bottom: 1px solid #ddd;
}

section:nth-child(odd) {
    background-color: #7bc0c3;
}

section:nth-child(even) {
    background-color: #ca8383;
}
